.contact {
    height: 100vh;
    background-image: url("../../images/home-bg.jpg");
}

.contact-form {
    width: 50%;
    position: relative;
    top: 15%;
    left: 25%;
    text-align: center;
}

.contact h3 {
    margin-bottom: 40px;
}

.contact button {
    margin: 0 auto;
    color: white;
    background-color: #57BE8E;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
}

.contact button:hover {
    background-color: rgb(109, 106, 106);
}
